generated/schema/ADQLGeomDM-v1.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by gradle vo-dml tools 2026-02-03T12:34:22.162053357Z-->
<xsd:schema xmlns:adqlgeom="http://ivoa.net/dm/adqlgeom/v0.1"
            xmlns:ivoa="http://ivoa.net/vodml/ivoa"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            vc:minVersion="1.1"
            targetNamespace="http://ivoa.net/dm/adqlgeom/v0.1"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">
   <xsd:import namespace="http://ivoa.net/vodml/ivoa"
               schemaLocation="IVOA-v1.0.vo-dml.xsd"/>
   <xsd:element name="adqlgeomModel">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="refs" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence/>
               </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="Point">
      <xsd:annotation>
         <xsd:documentation>location on the sky in spherical coordinates</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Point</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="alpha" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>longitude angle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Point.alpha</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="delta" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>latitude angle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Point.delta</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Shape" abstract="true">
      <xsd:annotation>
         <xsd:documentation>base type of all shapes</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Shape</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:complexType>
   <xsd:complexType name="Circle">
      <xsd:annotation>
         <xsd:documentation>a circular region on the sky</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Circle</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="adqlgeom:Shape">
            <xsd:sequence>
               <xsd:element name="center" type="adqlgeom:Point" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the centre of the circle</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Circle.center</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="radius" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the radius of the circle</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Circle.radius</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="MultiShape">
      <xsd:annotation>
         <xsd:documentation>multiple simple shapes describing regions as a single value</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:MultiShape</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element minOccurs="1" name="shapes">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="shape"
                               type="adqlgeom:Shape"
                               minOccurs="1"
                               maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:appinfo>
                           <vodml-ref>adqlgeom:MultiShape.shapes</vodml-ref>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Polygon">
      <xsd:annotation>
         <xsd:documentation>a simple polygon region on the sky defined a sequence of points connected by great-circle segments</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Polygon</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="adqlgeom:Shape">
            <xsd:sequence>
               <xsd:element minOccurs="3" name="points">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="point" type="adqlgeom:Point" minOccurs="3" maxOccurs="3">
                           <xsd:annotation>
                              <xsd:documentation/>
                              <xsd:appinfo>
                                 <vodml-ref>adqlgeom:Polygon.points</vodml-ref>
                              </xsd:appinfo>
                           </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Interval">
      <xsd:annotation>
         <xsd:documentation>a set of numeric values defined by a lower and upper bound (bounds included: [a,b])</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Interval</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="lower" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Interval.lower</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="upper" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Interval.upper</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
