generated/schema/ADQLGeomDM-v1.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by gradle vo-dml tools 2026-03-14T10:46:48.964214784Z-->
<xsd:schema xmlns:adqlgeom="http://ivoa.net/dm/adqlgeom/v0.1"
            xmlns:ivoa="http://ivoa.net/vodml/ivoa"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            vc:minVersion="1.1"
            targetNamespace="http://ivoa.net/dm/adqlgeom/v0.1"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">
   <xsd:import namespace="http://ivoa.net/vodml/ivoa"
               schemaLocation="IVOA-v1.0.vo-dml.xsd"/>
   <xsd:element name="adqlgeomModel">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="refs" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence/>
               </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="Point">
      <xsd:annotation>
         <xsd:documentation>location on the sky in spherical coordinates</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Point</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="alpha" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>longitude angle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Point.alpha</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="delta" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>latitude angle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Point.delta</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Line">
      <xsd:annotation>
         <xsd:documentation>A line defined on the celestial sphere. If the distance between begin and end is 180° (π), this function returns an error because the location of the line is undefined. However, if longitudes of begin and end are equal, pgSphere assumes a meridian and returns the corresponding spherical line.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Line</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="begin" type="adqlgeom:Point" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>start point of line</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Line.begin</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="end" type="adqlgeom:Point" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>end point of line</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Line.end</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Shape" abstract="true">
      <xsd:annotation>
         <xsd:documentation>base type of all shapes</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Shape</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:complexType>
   <xsd:complexType name="Circle">
      <xsd:annotation>
         <xsd:documentation>a circular region on the sky</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Circle</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="adqlgeom:Shape">
            <xsd:sequence>
               <xsd:element name="center" type="adqlgeom:Point" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the centre of the circle</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Circle.center</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="radius" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the radius of the circle</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Circle.radius</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Ellipse">
      <xsd:annotation>
         <xsd:documentation>an elliptical region on the sky</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Ellipse</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="adqlgeom:Shape">
            <xsd:sequence>
               <xsd:element name="major_axis" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>major axis size in radians</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Ellipse.major_axis</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="minor_axis" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>minor axis size in radians</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Ellipse.minor_axis</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="center" type="adqlgeom:Point" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the centre of the circle</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Ellipse.center</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="pos_angle" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>The position angle pos is defined as a counterclockwise rotation around the ellipse center and is zero, if the ellipse is “parallel to the equator”</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Ellipse.pos_angle</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="MultiShape">
      <xsd:annotation>
         <xsd:documentation>multiple simple shapes describing regions as a single value</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:MultiShape</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="shapes">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="shape"
                               type="adqlgeom:Shape"
                               minOccurs="1"
                               maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:appinfo>
                           <vodml-ref>adqlgeom:MultiShape.shapes</vodml-ref>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Polygon">
      <xsd:annotation>
         <xsd:documentation>a simple polygon region on the sky defined a sequence of points connected by great-circle segments</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Polygon</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="adqlgeom:Shape">
            <xsd:sequence>
               <xsd:element name="points">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="point"
                                     type="adqlgeom:Point"
                                     minOccurs="1"
                                     maxOccurs="unbounded">
                           <xsd:annotation>
                              <xsd:documentation>the points that make up the polygon</xsd:documentation>
                              <xsd:appinfo>
                                 <vodml-ref>adqlgeom:Polygon.points</vodml-ref>
                              </xsd:appinfo>
                           </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Box">
      <xsd:annotation>
         <xsd:documentation>a simple bounding box</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Box</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="adqlgeom:Shape">
            <xsd:sequence>
               <xsd:element name="pos_sw" type="adqlgeom:Point" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>south-west edge of the box</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Box.pos_sw</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="pos_ne" type="adqlgeom:Point" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>north-east edge of the box</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>adqlgeom:Box.pos_ne</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Interval">
      <xsd:annotation>
         <xsd:documentation>a set of numeric values defined by a lower and upper bound (bounds included: [a,b])</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqlgeom:Interval</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="lower" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Interval.lower</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="upper" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>adqlgeom:Interval.upper</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
