src/test/resources/ADQLTest.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by gradle vo-dml tools 2026-02-25T11:08:02.431825Z-->
<xsd:schema xmlns:adqlgeom="http://ivoa.net/dm/adqlgeom/v0.1"
            xmlns:adqlt="http://ivoa.net/dm/adql/test/v0.1"
            xmlns:ivoa="http://ivoa.net/vodml/ivoa"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            vc:minVersion="1.1"
            targetNamespace="http://ivoa.net/dm/adql/test/v0.1"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">
   <xsd:import namespace="http://ivoa.net/dm/adqlgeom/v0.1"
               schemaLocation="ADQLGeomDM-v1.vo-dml.xsd"/>
   <xsd:import namespace="http://ivoa.net/vodml/ivoa"
               schemaLocation="IVOA-v1.0.vo-dml.xsd"/>
   <xsd:element name="adqltestModel">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="refs" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence/>
               </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
               <xsd:element name="aTest" type="adqlt:ATest"/>
            </xsd:choice>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="ATest">
      <xsd:annotation>
         <xsd:documentation>Just for testing</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>adqltest:ATest</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="apoint" type="adqlgeom:Point" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>adqltest:ATest.apoint</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="acircle"
                      type="adqlgeom:Circle"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>adqltest:ATest.acircle</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="apoly"
                      type="adqlgeom:Polygon"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>adqltest:ATest.apoly</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="aninterval"
                      type="adqlgeom:Interval"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>adqltest:ATest.aninterval</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
